<body>
  <div class="page-title" style="display: flex; justify-content:space-between; flex-wrap: wrap">
    <div>
      <h5>Моя музыка</h5>
    </div>
    <div>
      <button class="btn waves-effect waves-purple" (click)="btnAddMusicClick()">Добавить</button>
    </div>
  </div>
  <div class="loader" *ngIf="loaderService.isLoading | async">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  <div style="height:540px">
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" style="height:100%;width:100%; border:none; margin-top:20px;">
      <div *cdkVirtualFor="let file of files" class="row collection_element" style="width:100%; min-width:300px">
        <div class="col-3 col-md-1" (click)="openFile(file.id, file.fileName, file.name)">
          <img src="{{file.img}}" class="round" />
        </div>
        <div class="col-7 col-md-10 row align-items-center justify-content-start" (click)="openFile(file.id, file.fileName, userName+'-'+file.name)">
          <div>
            {{file.name}}
          </div>
        </div>
        <div class="col-2 col-md-1 row align-items-center justify-content-end">
          <mat-icon class="context-menu waves-effect waves-purple" mat-flat-button [matMenuTriggerFor]="appMenu">more_vert</mat-icon>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="btnEditMusicClick(file.id)">Изменить</button>
            <button mat-menu-item (click)="deleteMusic(file.id)">Удалить</button>
          </mat-menu>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</body>

