<div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="/playlist" class="waves-effect waves-purple">Моя музыка</a>
        <a mat-list-item routerLinkActive="active" routerLink="/searchmusic" class="waves-effect waves-purple">Поиск музыки</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="purple">
        <button type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div style="margin: 0 0 0 auto;">
          <button class="btn purple" (click)="logout()">Log out</button>
        </div>
      </mat-toolbar>
      <app-audioplayer></app-audioplayer>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

